<!-- src/app/designer/designer.component.html -->
<div class="questionnaire-list">
  <mat-spinner *ngIf="loading" color="accent"></mat-spinner>
  <mat-list *ngIf="!loading">
    <mat-list-item *ngFor="let questionnaire of questionnaireNames">
      <span>{{ questionnaire.name }}</span>
      <span class="fill"></span>
      <div>
        <button mat-icon-button (click)="onLaunch(questionnaire.key)">
          <mat-icon>launch</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onEditQuestionnaire(questionnaire.key)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onDeleteQuestionnaire(questionnaire.key)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div class="create-new">
  <button
    mat-flat-button
    color="primary"
    type="button"
    (click)="onCreateNewQuestionnaire()"
  >
    Create Questionnaire
  </button>
  <button mat-flat-button color="accent" type="button" (click)="onLogout()">
    Logout
  </button>
</div>
