<!-- src/app/questionnaire-modal/questionnaire-modal.component.html -->

<h1 mat-dialog-title>{{ header }}</h1>
<mat-dialog-content>
  <form [formGroup]="questionnaireForm">
    <mat-form-field color="accent">
      <mat-label>Questionnaire Name</mat-label>
      <input
        formControlName="questionnaireName"
        matInput
        required
        type="text"
      />
    </mat-form-field>
    <div formArrayName="sections">
      <div
        *ngFor="let section of sections().controls; index as sectionIdx"
        [formGroupName]="sectionIdx"
      >
        <mat-form-field class="section">
          <mat-label>Section</mat-label>
          <input formControlName="section" matInput required type="text" />
        </mat-form-field>
        <button
          mat-mini-fab
          color="primary"
          type="button"
          (click)="OnAddQuestion(sectionIdx)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <div formArrayName="questions">
          <div
            *ngFor="
              let question of questions(sectionIdx).controls;
              index as questionIdx
            "
          >
            <div [formGroupName]="questionIdx">
              <mat-form-field class="question">
                <mat-label>Question</mat-label>
                <input
                  formControlName="question"
                  matInput
                  required
                  type="text"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Answer</mat-label>
                <input formControlName="answer" matInput required type="text" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="actions">
  <div>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onAddSection()"
    >
      Add Section
    </button>
  </div>
  <div>
    <button mat-button mat-dialog-close color="warn" type="button">
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onSave()"
      [disabled]="questionnaireForm.invalid || disabled"
    >
      Save
    </button>
  </div>
</mat-dialog-actions>
