<!-- src/app/questionnaire/questionnaire.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <mat-action-list class="questionnaire-list">
      <button
        mat-list-item
        class="create-new"
        routerLink="/questionnaires/new"
        routerLinkActive="active-new"
      >
        New Questionnaire
      </button>
      <div *ngIf="!loading">
        <button
          [routerLink]="'/questionnaires/' + questionnaire.id"
          routerLinkActive="active"
          mat-list-item
          *ngFor="let questionnaire of questionnaires"
          (click)="onEdit(questionnaire.id)"
        >
          {{ questionnaire.name }}
        </button>
      </div>
      <div *ngIf="loading" class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
