// src/app/questionnaire/questionnaire.component.scss
$accent: #9e9e9e;

.create-new {
  background: $accent;
  color: #ffffff;

  &:hover,
  &:focus {
    background: darken($accent, 5);
  }
}

.sidenav-container {
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 16rem;
}

.questionnaire-list {
  padding-top: 0;
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

.active-new {
  background: darken($accent, 5);
}

.spinner {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
