<!-- src/app/login/login.component.html -->
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngIf="signup">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required type="text" />
        <mat-error *ngIf="!valid('name')">Name is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" email required type="email" />
        <mat-error *ngIf="!valid('email')">Email is required.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          required
          minlength="8"
          type="password"
          password
        />
        <mat-error *ngIf="!valid('password')">{{
          signup
            ? 'Minimum 8 characters, at least one capital, number, and special character.'
            : 'Password is required.'
        }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button
        class="submit"
        mat-flat-button
        color="accent"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        {{ signup ? 'Sign Up' : 'Login' }}
      </button>
      <button
        *ngIf="!signup"
        mat-button
        color="accent"
        type="button"
        (click)="onForgotPassword()"
        [disabled]="!loginForm.get('email').valid"
      >
        Forgot password
      </button>
    </div>
  </form>
</div>
